@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


body {
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Roboto', sans-serif;

}
header {
    background-color: #f5e6e8 !important;
    padding-bottom: 20px;
  }
  
  .navbar-brand {
    font-size: 48px;
    line-height: 57px;
    font-weight: 800;
    margin-right: 50px;
  }
  
  .navbar-nav {
    padding-top: 20px;
    text-align: center;
  }
  
  a.nav-link {
    color: #000 !important;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    margin: 10px;
  }

h1, h2, h3, h4, h5{
    font-family: 'Barlow Condensed', sans-serif;
}
p{
    font-family: 'Roboto', sans-serif;
}
::marker {
    color: #0D6EFD !important;
  
}

/* Slider an slider card */
#mixedSlider {
    position: relative;
}

#mixedSlider .MS-content {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 5%;
}

#mixedSlider .MS-content .item {
    display: inline-block;
    width: 33.3333%;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    height: 100%;
    white-space: normal;
    padding: 0 10px;
}

@media (max-width: 991px) {
    #mixedSlider .MS-content .item {
        width: 50%;
    }
}

@media (max-width: 767px) {
    #mixedSlider .MS-content .item {
        width: 100%;
    }
}

#mixedSlider .MS-content .item .imgTitle {
    position: relative;
}

#mixedSlider .MS-content .item .imgTitle .blogTitle {
    margin: 0;
    text-align: left;
    letter-spacing: 2px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    bottom: 0;
    font-weight: bold;
    padding: 0 0 2px 10px;
    width: 80%;
    border-radius: 0 5px 0 5px;
}

#mixedSlider .MS-content .item .imgTitle img {
    height: auto;
    width: 100%;
}

#mixedSlider .MS-content .item p {
    font-size: 16px;
    margin: 2px 10px 0 5px;
    text-indent: 15px;
}

#mixedSlider .MS-content .item a {
    float: right;
    margin: 0 20px 0 0;
    font-size: 16px;
    font-style: italic;
    color: rgba(173, 0, 0, 0.82);
    font-weight: bold;
    letter-spacing: 1px;
    transition: linear 0.1s;
}

#mixedSlider .MS-content .item a:hover {
    text-shadow: 0 0 1px grey;
}

#mixedSlider .MS-controls button {
    position: absolute;
    border: none;
    background-color: transparent;
    outline: 0;
    font-size: 50px;
    top: 95px;
    color: rgba(0, 0, 0, 0.4);
    transition: 0.15s linear;
}

#mixedSlider .MS-controls button:hover {
    color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 992px) {
    #mixedSlider .MS-controls button {
        font-size: 30px;
    }
}

@media (max-width: 767px) {
    #mixedSlider .MS-controls button {
        font-size: 20px;
    }
}

#mixedSlider .MS-controls .MS-left {
    left: 50px;
}

@media (max-width: 767px) {
    #mixedSlider .MS-controls .MS-left {
        left: -10px;
    }
}

#mixedSlider .MS-controls .MS-right {
    right: 50px;
}

@media (max-width: 767px) {
    #mixedSlider .MS-controls .MS-right {
        right: -10px;
    }
}

#basicSlider {
    position: relative;
}

#basicSlider .MS-content {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 2%;
    height: 50px;
}

#basicSlider .MS-content .item {
    display: inline-block;
    width: 20%;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    height: 100%;
    white-space: normal;
    line-height: 50px;
    vertical-align: middle;
}

@media (max-width: 991px) {

    #basicSlider .MS-content .item {
        width: 25%;
    }
}

@media (max-width: 767px) {

    #basicSlider .MS-content .item {
        width: 35%;
    }
}

@media (max-width: 500px) {

    #basicSlider .MS-content .item {
        width: 50%;
    }
    .MS-content svg{
        height: 10px;
        width: 10px;
    }
    #mixedSlider .MS-content .item a{
        margin: 0 10px 0 0;
    }

}

#basicSlider .MS-content .item a {
    line-height: 50px;
    vertical-align: middle;
}

#basicSlider .MS-controls button {
    position: absolute;
}

#basicSlider .MS-controls .MS-left {
    top: 35px;
    left: 10px;
}

#basicSlider .MS-controls .MS-right {
    top: 35px;
    right: 10px;
}
  /* Card  sosial*/
  .social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }
  
  .social-link:hover,
  .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
  }
  
  .progress {
    height: 10px;
  }
  /* feedback bg color */
/* .feedback{
    background-image: linear-gradient(to bottom, #0D43FE 0%, #B92FF3 100%);
} */
.feedback {
    background-image: url("../images/Technology__-9.jpg"),linear-gradient(180deg, #0045FF 0%, #BD29F2 100%);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
/* Line */
/* .line{
    background-color: #0045FF;
display: inline-block;
position: relative;
bottom: 3px;
text-align: left;
width: 30px;
height: 2px;
margin: 0px 0px 0px 10px;
} */
.single-testimonial{
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    position: initial;
    padding: 30px 30px 30px 30px;
}
.testmonial__quote{
    
}
.testmonial__description {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    font-style: italic;
    color: rgb(97, 102, 105);
    line-height: 1.8em;
    margin: 0px 0px 30px 0px;
}
.author__thumb__designation {
    display: block;
    position: relative;
    padding: 0px 0px 0px 64px;
}
.author__thumb {
    width: 50px;
    height: 50px;
    margin: 0px 0px 0px 0%;
    
}
.author__thumb img{
    height: 50px;
    margin: 0px 0px 0px 10%;
    border-radius: 50px;
}
.author__name {
    font-size: 20px;
    margin: -50px 0px 4px -3px;
}
